/.project
/target/
.settings
*.zip
*.pyc
**/keyword/*.json
/privacy/privacy_policy.html
.idea
**/_build
build.txt.dist
**/dist
rdm-configurable-content*.tar.gz

/external_urls_DEV.json
/.pydevproject
